<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<title>Servicio de Control de Alumnos</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Servicio de Control de Alumnos</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="/alumnos">Alumnos</a>
						<a class="nav-link" href="/direcciones">Direcciones</a>
						<a class="nav-link" href="/formularioAlumno">Agregar Alumno</a> 
						<a class="nav-link" href="/formularioDireccion">Agregar Dirección</a>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<section>
		<div class="container">
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div class="card">
						<div class="card-header">Alumnos</div>
						<div class="card-body">
							<h5 class="card-title">Listado de Alumnos</h5>
							<p class="card-text">.</p>
							<a href="/alumnos" class="btn btn-primary">Ir a Listado de Alumnos</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">Direcciones</div>
						<div class="card-body">
							<h5 class="card-title">Listado de Direcciones</h5>
							<p class="card-text">.</p>
							<a href="/direcciones" class="btn btn-primary">Ir a Listado de Direcciones</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">Nuevo Alumno</div>
						<div class="card-body">
							<h5 class="card-title">Crear Nuevo Alumno</h5>
							<p class="card-text">.</p>
							<a href="/formularioAlumno" class="btn btn-primary">Ir a
								Formulario de Alumno</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-header">Nueva Dirección</div>
						<div class="card-body">
							<h5 class="card-title">Crear Nueva Dirección</h5>
							<p class="card-text">.</p>
							<a href="/formularioDireccion" class="btn btn-primary">Ir a
								Formulario de Dirección</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>